*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing:border-box ;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

body {
    font-family: "Playfair Display";
    background-color: #1E1E1E;
}

.wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
    max-width: 1366px;
    margin: 0 auto;
}
.obolocka_1 {
    height: 768px;
    background: url(../img/coffee_image.png) center/cover no-repeat;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}
.content {
    flex: 1 1 auto;
}

.head {
    margin: 0 0 116px 0;
}
.head__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head__title {
    color: #fff;
    font-family: "Clicker Script";
    font-size: 35px;
}
.head__menu {
    color: #fff;
    display: flex;
    font-size: 14px;
    font-weight: 500;
}
.head__menu li {
    margin: 0 60px 0 0;
    transition-duration: 0.6s;
}
.head__menu li:last-child {
    margin: 0;
}
.head__menu li:hover {
    top: 2px;
    color: aqua;
    text-decoration: underline;
}
.head__reg button {
    font-size: 14px;
    font-weight: 500;
    padding: 15px 27px;
}
.head__reg button:first-child{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    text-decoration-line: underline;
    background: none;
    transition-duration: 0.6s;
}
.head__reg button:first-child:hover {
    color: grey;
}
.head__reg button:last-child{
    color: #1E1E1E;
    font-size: 16px;
    font-weight: 500;
    border-radius: 24px;
    background: #F9C06A;
    box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
    transition-duration: 0.6s;

}
.head__reg button:last-child:hover {
    top: 5px;
    box-shadow: 0px 3px 10px 0px rgba(249, 192, 106, 0.22);
    background: #a17c43;
}

.coffee__row {
    color: #FFF;
}
.coffee__head {
    font-size: 22px;
    font-weight: 500;
}
.coffee__title {
    font-family: "Clicker Script";
    font-size: 220px;
}
.coffee__description {
    font-size: 20px;
    line-height: 34px;
    max-width: 550px;
    text-shadow: 1px 1px 1px #000;
    margin: 0 0 20px 0;
}
.order {
    padding: 15px 26px;
    color: #1E1E1E;
    font-size: 16px;
    font-weight: 700;
    border-radius: 24px;
    background: #F9C06A;
    box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
    transition: 0.6s;
    transition-timing-function: ease-in-out;
}
.order:hover {
    background-color: #b98e4c;
    padding: 15px 30px;
}


.vid {
    background-color: #FFFEFC;
    position: relative;
    flex: 1 1 auto;
}
.center_1 {
    margin: 0 0 80px 0;
}
.center_1__row {
    
}
.center_1__body {
    display: flex;
    justify-content: space-between;
    
}
.center_1__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.center_1__title {
    color: #603809;
    font-size: 54px;
    font-weight: 700;
    margin: 0 0 29px 0;
}
.center_1__descriptoin {
    max-width: 585px;
    color: #707070;
    font-size: 20px;
    line-height: 34px;
    
    z-index: 2;
}
.center_1__button {
    z-index: 2;
    color: #1E1E1E;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 24px;
    border-radius: 24px;
    background: #F9C06A;
    box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
    transition: 0.6s;
    transition-timing-function: ease-in-out;
    margin: 29px 0 0 0;
}
.center_1__button:hover {
    background-color: #b98e4c;
    padding: 15px 30px;
}
.center_1__image {
    max-width: 680px;
}


.center_2 {
    text-align: center;
    margin: 0 0 80px 0;
}

.center_2__title {
    color:#603809;
    font-size: 54px;
    font-weight: 700;
    margin: 0 0 16px 0;
}
.center_2__description {
    color: #707070;
    text-align: center;
    font-size: 20px;
    line-height: 34px;
    margin: 0 0 32px 0;
}
.center_2__body {
    display: flex;
    
}
.center_2__columns {
    border: 1px solid rgba(249, 192, 106, 0.42);
    background-color: #F9C06A6B;
    margin: 0 10px;
    
}
.columns-item {
    padding: 0 -10px;
}
.columns__title {
    color: #603809;
    font-size: 22px;
    font-weight: 700;
}
.columns__compos {
    color: #1E1E1E;
    font-size: 16px;
    margin: 6px 0;
}
.columns__price {
    color:#603809;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 18px 0;
}
.columns_img {
    max-width: 280px;
}
.columns__order {
    padding: 15px 25px;
    color: #1E1E1E;
    font-size: 16px;
    font-weight: 700;
    border-radius: 24px;
    background: #F9C06A;
    box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
    transition: 0.2s linear;
}
.columns__order:hover {
    background-color: #b98e4c;
    padding: 15px 30px;
}

.blast {
    position: absolute;
    top: 8%;
    z-index: 1;
}

.center_3 {
    text-align: center;
}
.center_3__title {
    color: #603809;
    font-size: 54px;
    font-weight: 700;
}
.center_3__description {
    color: #707070;
    text-align: center;
    font-size: 20px;
    line-height: 34px;
}
.center_3__body {
    display: flex;
}
.center_3__columns {
    display: flex;
    margin: 0 10px 32px 0;
}
.columns_2-item_1 {
    background: #FFEED8;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 -10px 0 0;
}
.columns_2-item {
    background: #FFF9F1;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 -10px 0 0;
}
.columns_2_img {
    margin: 36px 0 0 0;
    max-width: 88px;
}
.columns_2__title {
    color: #603809;
    font-size: 28px;
    font-weight: 700;
    margin: 25px 0 8px 0;
}
.columns_2__description {
    color: #707070;
    text-align: center;
    font-size: 20px;
    margin: 0 0 36px 0;
    max-width: 176px;
}

.center_3_des {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.great {
    color: #707070;
    text-align: center;
    font-size: 20px;
}
.get {
    color: #603809;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 24px 0;
}
.but0 {
    color: #1E1E1E;
    padding: 14px 40px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 24px;
    background: #F9C06A;
    box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
    margin: 0 0 80px 0;
    transition: 0.2s linear;
}
.but0:hover {
    background-color: #b98e4c;
    padding: 14px 45px;
}


.blast_2 {
    position: absolute;
    top: 60%;
    right: 0%;
    z-index: 1;
}
.blast_3 {
    position: absolute;
    top: 73%;
    left: 0%;
    z-index: 1;
}
.blast_4 {
    position: absolute;
    top: 84%;
    left: 0%;
    z-index: 1;
}
.blast_5 {
    position: absolute;
    top: 84%;
    right: 0%;
    z-index: 1;
}

.rek {
    background:url(../img/Rectangle\ 14.png) 0 0 no-repeat;
}
.rek__blur {background:rgba(96, 56, 9, 0.8);}
.rek__bean {background: url(../img/coffee_bean.png) right no-repeat;}
.rek__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rek__text  {
    color: #FFF;
}
.rek__title {
    font-size: 54px;
    font-weight: 700;
    max-width: 575px;
}
.rek__descrption {
    font-size: 20px;
    line-height: 34px;
    max-width: 409px;
    margin: 22px 0;
}
.rek_but {
    color: #1E1E1E;
    padding: 14px 26px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 24px;
    background: #F9C06A;
    box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
    transition: 0.3s linear;
}
.rek_but:hover {
    background-color: #b98e4c;
    padding: 14px 30px;
}


.feedback {
   margin: 82px 0 0 0; 
}
.feedback__body {
    text-align: center;
}
.feedback__title {
    color: var(--coffee, #603809);
    font-size: 54px;
    font-weight: 700;
}
.feedback__description {
    color: #707070;
    font-size: 20px;
    line-height: 34px;
    margin: 0 0 45px 0;
}
.feedback-item {
    border: 1px solid rgba(249, 192, 106, 0.42);
    background: #FFF9F1;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    max-width: 980px;
    margin: 0 auto;
    height: 524px;
}
.item__feedback_kav {
    align-self: flex-start;
    color: var(--coffee, #603809);
    font-size: 220px;
    font-weight: 700;
    line-height: 112px;
    padding: 54px 0 0 29px;
    position: absolute;
    overflow: visible;
}
.item__feedback_text {
    margin: 130px 0 28px 0;
    max-width: 780px;
    color: #707070;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
}
.item__feedback_avtor {
    color: var(--coffee, #603809);
    font-size: 32px;
    font-weight: 700;
}
.item__feedback_work {
    color: #707070;
    font-size: 20px;
    line-height: 34px;
}
.item__feedback_photo {
    max-height: 112px;
    position: absolute;
    bottom: -10%;
}
.item__feedback_photo_2 {
    position: absolute;
    top: 50%;
    left: -5%;
}
.item__feedback_photo_3 {
    position: absolute;
    top: 50%;
    right: -5%;
}

.subscribe {
    margin: 140px 0 0 0;
    height: 374px;
    background: url(../img/Rectangle\ 14.png) 0 0 no-repeat;
}
.subscribe__blur {background:rgba(96, 56, 9, 0.8);
    height: 374px;}


.subscribe__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    
}
.subscribe__title {
    margin: 80px 0 0 0;
    font-size: 54px;
    font-weight: 700;
}
.subscribe__description {
    font-size: 20px;
    line-height: 34px;
    margin: 16px 0 0 0;
}
.subscribe__reg {
    margin: 26px 0 80px 0;
}
.subscribe_inp {
    width: 640px;
    padding: 20px;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid rgba(249, 192, 106, 0.42);
    background: #FFF9F1;
}
.subscribe_inp::placeholder {
    color: rgba(0, 0, 0, 0.34);
    font-size: 20px;
    line-height: 34px;
}
.subscribe_but {
    padding: 20px 24px;
    border-radius: 4px;
    background: #F9C06A;
    box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
    color: var(--coffee, #603809);
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 0 -4px;
    transition: 0.3s linear;
}
.subscribe_but:hover {
    background-color: #b98e4c;
    
}

.footer {
    background: url(../img/fon.png) bottom no-repeat;
    
}
.footer_blur {background:rgba(96, 56, 9, 0.8);
    
}
.footer__colum {

    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    padding: 162px 0 20px 0;
}
.footer_1 {
    margin: -40px 66px 0 0;
}
.footer_1__title {
    font-family: "Clicker Script";
    font-size: 54px;
    font-weight: 400;
}
.footer_1__description {
    max-width: 380px;
    font-size: 14px;
    line-height: 22px;
    margin: 20px 0;
}
.footer_1_icons {}
.footer_2 {
    margin: -15px 66px 0 0;
    display: flex;
    flex-direction: column;
   justify-content: center;
   

}
.footer_2__title {
    font-size: 26px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin: 0 0 55px 0;
}
.footer_2_li {
    color: #FFF;
    font-size: 18px;
    line-height: 42px;
    min-width: 136px;
}
.footer_2_li li {transition: 0.3s linear;}
.footer_2_li li:hover {
    top: 2px;
    color: aqua;
    text-decoration: underline; 
    
}
.footer_2_li li:last-child {
}
.footer_3 {
    margin: -20px 0 0 0;
}
.footer_3_title {   
    font-size: 26px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin: 0 0 33px 0;}
.footer_3__li {
    font-size: 18px;

}
.footer_3__li li {
    margin: 0 0 22px 0;
}
.footer_3__li li:last-child {
    margin: 0;
}
